<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">

        <activity android:name=".DetectionActivity"/>
        <activity android:name=".dyslexiaResultActivity"/>
        <activity android:name=".DyslexiaTestActivity" />
        <activity android:name=".DyslexiaTest2Activity" />
        <activity android:name=".DyslexiaTest3Activity"/>
        <activity android:name=".DyslexiaTest3_Activity2"/>
        <activity android:name=".dyslexiaTherapyResultActivity"/>
        <activity android:name=".PronunciationActivity"/>
        <activity android:name=".dyslexiaTherapyActivity"/>
        <activity android:name=".HomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".TherapyActivity" />
        <activity android:name=".SettingsActivity"/>
        <activity android:name=".ForgotPasswordActivity"/>
        <activity android:name=".alphabetmodelActivity"/>
        <activity android:name=".testgraph"/>
        <activity android:name=".seasonstart" />
        <activity android:name=".SeasonRulesActivity" />
        <activity android:name="AutumnStoryActivity"/>
        <activity android:name="AutumnQuestionActivity"/>
        <activity android:name="AutumnQuestionActivity2"/>
        <activity android:name="AutumnQuestionActivity3"/>
        <activity android:name="SpringStoryActivity"/>
        <activity android:name="SpringQuestionActivity"/>
        <activity android:name="SpringQuestionActivity2"/>
        <activity android:name="SpringQuestionActivity3"/>
        <activity android:name="SummerStoryActivity"/>
        <activity android:name="SummerQuestionActivity"/>
        <activity android:name="SummerQuestionActivity2"/>
        <activity android:name="SummerQuestionActivity3"/>
        <activity android:name="WinterStoryActivity"/>
        <activity android:name="WinterQuestionActivity"/>
        <activity android:name="WinterQuestionActivity2"/>
        <activity android:name="WinterQuestionActivity3"/>
        <activity android:name=".color_pattern"/>
        <activity android:name=".color_gamestart"/>
        <activity android:name=".ColorGameRuleActivity"/>
        <activity android:name=".lex_detect_types"/>
        <activity android:name=".SpeechTestActivity"/>
        <activity android:name=".SpeechBingoActivity"/>
        <activity android:name=".SpeechTest2Activity"/>
        <activity android:name=".SpeechTest3Activity"/>
        <activity android:name=".SpeechTest4Activity"/>
        <activity android:name=".lex_speech_result"/>
        <activity android:name=".GameScreenActivity"/>
        <activity android:name=".GameRuleActivity"/>
        <activity android:name=".GameEndActivity"/>
        <activity android:name=".youtube_dysgraphia_therapy"/>
        <activity android:name=".DyslexiaTherapy_Portals"/>
        <activity android:name=".TherapyPracticeActivity"/>
        <activity android:name=".AlphabetLearningActivity"/>
        <activity android:name=".LetterATracingActivity" />
        <activity android:name=".LetterBTracingActivity" />
        <activity android:name=".LetterCTracingActivity" />
        <activity android:name=".LetterDTracingActivity" />
        <activity android:name=".LetterETracingActivity" />
        <activity android:name=".LetterFTracingActivity" />
        <activity android:name=".LetterGTracingActivity" />
        <activity android:name=".LetterHTracingActivity" />
        <activity android:name=".LetterITracingActivity" />
        <activity android:name=".LetterJTracingActivity" />
        <activity android:name=".LetterKTracingActivity" />
        <activity android:name=".LetterLTracingActivity" />
        <activity android:name=".LetterMTracingActivity" />
        <activity android:name=".LetterNTracingActivity" />
        <activity android:name=".LetterOTracingActivity" />
        <activity android:name=".LetterPTracingActivity" />
        <activity android:name=".LetterQTracingActivity" />
        <activity android:name=".LetterRTracingActivity" />
        <activity android:name=".LetterSTracingActivity" />
        <activity android:name=".LetterTTracingActivity" />
        <activity android:name=".LetterUTracingActivity" />
        <activity android:name=".LetterVTracingActivity" />
        <activity android:name=".LetterWTracingActivity" />
        <activity android:name=".LetterXTracingActivity" />
        <activity android:name=".LetterYTracingActivity" />
        <activity android:name=".LetterZTracingActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
